:root {
    --primary-color: #f33540;
    --secondary-color: #ef3340;
    --accent-color: #d83334;
    --background-color: #fff;
    --text-color-black: #000;
    --text-color-white: #fff;
  }
  
  * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .logoleft {
    flex: 1 1 200px;
  }
  
 header {
    margin-left: 25px;
    margin-right: 25px;
  }

 
  
  header,
  ul,
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    align-content: flex-end;
    white-space: nowrap;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  button {
    background-color: #f33540;
    border: none;
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
  }
  
  .sticky {
    position: sticky;
    width: 30px;
    height: auto px;
    inset: 15px;
    top:425px;
    z-index: 1;
    



  } 
  
  main section:nth-of-type(1) {
    position: relative;
    /* Make this section a positioning context for floating text */
  }
  
  main section:nth-of-type(1) img {
    width: 100%;
    height: auto;
  }
  
  main section:nth-of-type(1) h1 {
  
    position: absolute;
    /* Position the text absolutely over the image */
    top: 15%;
    /* Center vertically */
    left: 20px;
    font-size: 70px;
    /* Align to the left */
    color: white;
    /* White text for contrast */
    padding: 20px;
    /* Add padding for readability */
    max-width: 900px;
    /* Optional: Limit the width of the text box */
    flex-wrap: wrap;
  }
  
 .photo-desc {
  position: absolute;           /* Position the text absolutely over the image */
  font-size: 30px;
  font-weight: bold;
  top: 50%;                     /* Center vertically */
  left: 20px;                      /* Align to the left */
  color: white;                 /* White text for contrast */
  padding: 20px;                /* Add padding for readability */
  max-width: 1000px;             /* Optional: Limit the width of the text box */
}


.all-bootcamps h2{
  margin-left: 40px;
  font-weight: bold;
}

.bootcamps-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin-left: 25px;
   
  }
  
   .card {
    display: flex;
    width: 100%;
    height: 200px;
    background-size: cover;
    align-items: end;
    border-radius: 5px;
  }

  .card-text::before {
    content: "";
    display: inline-block;
    width: 15px;  /* Adjust the width to match the red square image */
    height: 15px;  /* Adjust the height to match the red square image */
    background-image: url('./img/red\ icon\ next\ to\ text.jpg');  /* Path to your red square image */
    margin-right: 8px;  /* Space between the red square and the text */
  }
  
  .card-text {
    display: flex; color: white;
    text-wrap: wrap;
    font-weight: bold;
    margin: 25px;
    
    
  }
  

  .first-card {
    background-image: url('./img/estudiar-data-science-1.png');
   
  }
  
  .second-card {
    background-image: url('./img/estudiar-ciberseguridad.png');
  }
  
  .third-card {
    background-image: url('./img/estudiar-programacion-front-end-back.png');
  }
  
  .fourth-card {
    background-image: url('./img/estudiar-el-mejor-marketing-digital.png');
  }
  
  .fifth-card {
    background-image: url('./img/estudiar-el-mejor-marketing-digital.png');
  }
  
.all-masters h2{
   
  margin-left: 40px;
  font-weight: bold;

}

  .masters-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left: 25px;
    width: auto;
  }
    


 .mcard-text::before {
    content: "";
    display: inline-block;
    width: 15px;  /* Adjust the width to match the red square image */
    height: 15px;  /* Adjust the height to match the red square image */
    background-image: url('./img/red\ icon\ next\ to\ text.jpg');  /* Path to your red square image */
    margin-right: 8px;  /* Space between the red square and the text */
  }

.mcard-text  {
    display: flex;
    color: white;
    font-size:16px;
    text-wrap: wrap;
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 25px;
    width: auto;
    position: relative;
  

}
   
  
 
  .mfirst-card {
    background-image: url('./img/master-1.jpg');
  }

  .msecond-card {
    background-image: url('./img/master-2.jpg');
  }

  .mthird-card {
    background-image: url('./img/master-3.jpg');
  }





  .info {
    background-color: #f33540;
    padding-bottom: 50px;
  }
  
  .info h2 {
    color: white;
    padding-top: 50px;
    padding-left: 25px;
    margin-left: 30px;
  }
  
  .flex-info {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    height: 500px;
    width: auto;
    
  }
  

  .item {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex: 1;
    background-color: white;
    margin: 25px;
    border-radius: 10px;
    padding: 20px;
   /* height: auto;*/
    width: 400px;
      /* -- this seemed to  work too.... height: fit-content;*/
  }
  
/*
 .item:hover {
  transition: transform .5s linear;
  transform: translateY(-7px);
}
*/

    /*this is hard..... animation: name duration timing-function delay iteration-count direction fill-mode;*/
  
/* this transition method works better than the animation but are very similar to me.*/
 .item  {
      transition: transform 0.2s;
    }
      .item:hover {
    transform: translateY(-5px); 
      }
  
 /*/*this method below seems almost better but the text moves only and it the animation isn't exactly 
 like the example. This is close, but I think transition is better
 BELOW.....
 ....

    .flex-info :hover {
      animation: moveup 1s;
      /*this is hard..... animation: name duration timing-function delay iteration-count direction fill-mode;*/
 /*  }
/*
    @keyframes moveup {
      0% {
        transform: translateY(0);
      }
    
      50% {
        transform: translateY(-5px);
      }
    
      100% {
        transform: translateY(0);
      }
    }
*/
  
  .item img {
    flex-shrink: 3;
    max-width: 110px;
    width: auto;
  }